.helloMan {
    padding-left: 30px;
    background-color: #f5f5f5;
}

svg:not(:root) {
    overflow: hidden;
}

.xprSzi {
    font-size: .625rem;
    margin: 0 5px;
}

.shopee-svg-icon-1 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

.items-center {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hello {
    text-decoration: none;
    font-size: 15px;
}

.flex {
    display: flex;
}

.s9-a-0 {
    padding: 0;
    margin-top: 1.25rem;
}

.flex,
.h-center {
    display: flex;
}

.card {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.content {
    background-color: white;
    width: 96%;
    height: 700px;
    margin-bottom: 20px;
}

.content-image-2 {
    position: relative;
}

.div-1-2 {
    display: flex;
    padding: 0 30px;
    font-size: 16px;
    color: #222;
}

.icon-mess {
    width: 15px;
    height: 25px;
    padding: 6px;
    border: 0;
    margin-left: 5px;
    position: relative;
    overflow: visible;
    outline: 0;
}

.span_label {
    font-weight: 500;
    font-size: 19px;
    overflow-wrap: break-word;
    display: -webkit-box;
    vertical-align: sub;
    max-height: 3rem;
    overflow: hidden;
    padding: 3px;
    overflow-wrap: break-word;
}

.\+o92 {
    padding: 15px 20px;
    background: #fafafa;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

ki .nmsd {
    flex-wrap: wrap;
    width: 625px;
    flex-basis: 625px;
    min-height: 1.875rem;
}

.y3ds {
    font-size: 20px;
    text-decoration: line-through;
    color: #929292;
    margin-right: 10px;
}

.qqee {
    font-size: 29px;
    font-weight: 500;
    color: #ee4d2d;
}

._0voski {
    margin-left: 15px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

.h-y3ij {
    margin-top: 1.5625rem;
    padding: 0 1.25rem;
}

.rY0UiC {
    margin-top: -10px;
    margin-bottom: 25px;
    margin-left: -4px;
    padding: 2px;
    color: #222;
    display: flex;
    align-items: center;
}

.dvOk1c {
    display: flex;
    align-items: center;
}

.mini-vouchers {
    padding-top: 5px;
    width: 100%;
}

.mini-vouchers__label {
    color: #757575;
    width: 110px;
    text-transform: capitalize;
    flex-shrink: 0;
    font-size: 12px;
}

.q9zbL {
    font-size: 12px;
    margin-left: 30px;
    margin-bottom: 8px;
    padding: 5px;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ee4d2d;
    border-radius: 2px;
    background-color: rgba(255, 87, 34, 0.1);
    ;
}

.SmTf-e {
    background-color: #ee4d2d;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    padding: 0 5px;
}

.bR6mEk {
    /* padding-bottom: 30px; */
    flex-basis: 32.1875rem;
    max-width: 32.1875rem;
    flex-wrap: wrap;
}

.product-variation {
    overflow: visible;
    cursor: pointer;
    min-width: 5rem;
    min-height: 2.125rem;
    box-sizing: border-box;
    padding: 0.25rem 0.75rem;
    margin: 0 8px 8px 0;
    color: rgba(0, 0, 0, .8);
    text-align: left;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .09);
    position: relative;
    background: #fff;
    outline: 0;
    word-break: break-word;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.Z\+JGL3 {
    display: flex;
    align-items: center;
}

.EquXA8:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.EquXA8 {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 10px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 20px;
}

.Wrmraq {
    width: 40px;
    height: 20px;
    border-left: 0;
    border-right: 0;
    font-size: 13px;
    font-weight: 200;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
}

.mHANnI {
    display: grid;
    grid-template-columns: auto 1fr;
}

.WZTmVh {
    grid-column: 2;
    -ms-grid-column: 2;
    margin-left: 0.4375rem;
}

.WZTmVh {
    grid-row: 1;
    -ms-grid-row: 1;
    margin-bottom: 0.75rem;
}

.iuDG9e {
    justify-self: center;
    grid-row: 2;
    grid-column: 1;
}

._5\+Mddj {
    display: flex;
    align-items: center;
    color: #222;
}

.iuDG9e {
    justify-self: center;
    grid-row: 2;
    grid-column: 1;

}

.cZexSD {
    grid-row: 2;
    grid-column: 2;
    margin-left: 0.4375rem;
}

.J9pM3L {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

._82o6pM {
    color: #636363;
    width: 110px;
    margin-right: 10px;
    text-transform: capitalize;
}

svg:not(:root) {
    overflow: hidden;
}

.J9pM3L:last-child {
    margin: 0;
}

.J9pM3L {
    align-items: center;
    display: flex;
}

._82o6pM {
    color: #636363;
    width: 100px;
    margin-right: 5px;
    text-transform: capitalize;
}

.shopee-drawer {
    display: flex;
    position: relative;
    overflow: visible;
    outline: 0;
}

.IwHyBY {
    cursor: pointer;
    user-select: none;
    color: #222;
}

.IwHyBY>.icon-arrow-down {
    margin-left: 0.3125rem;
    font-size: .75rem;
    fill: #636363;
}



.btn-tinted,
.btn.btn-tinted {
    position: relative;
    overflow: visible;
    outline: 0;
    background: rgba(255, 87, 34, .1);
    background: var(--brand-primary-light-color);
    color: var(--brand-primary-color);
    border: 1px solid var(--brand-primary-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
}

.btn--l {
    min-width: 80px;
    max-width: 250px;
}

.btn--l {
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
}




.content-2 {
    background-color: white;
    width: 96%;
    margin-bottom: 20px;
}

.label-1 {
    padding: 20px 0 20px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(0, 0, 0, .87);
    white-space: nowrap;
    font-family: Helvetica;
}

.image_dep {
    padding-left: 20px;
}

.image_dep {
    margin-bottom: 10px;
}

.span_hai {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    color: #ee4d2d;
    font-size: .825rem;
    line-height: .75rem;
    text-align: center;
    margin-right: 0.5rem;
    border: 1px solid #ee4d2d;
    padding: 0 0.0625rem;
}

.content-3 {
    background-color: white;
    width: 96%;
    margin-bottom: 20px;
}

.content-3_image {
    float: left;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(150, 151, 154, 0.125);
    height: 7em;
    width: 7em;
    margin: 15px;
}

.content111 {
    display: flex;
    float: left;
}

.label-5-5-1 {
    display: grid;
    padding: 30px;
    margin-top: 10px;
}

.label-5-5 {
    cursor: default;
    justify-content: space-between;
    position: relative;
    overflow: visible;
    outline: 0;
}

.label-5-5-8 {
    float: right;
}

.label-5-6 {
    margin-right: 10px;
    font-size: 13px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, .4);
    margin-right: 0.75rem;
}

.label-5-7 {
    font-size: 11px;
    color: #ee4d2d;
    white-space: nowrap;
    text-align: right;
}

label {
    cursor: default;
}

.content-4 {
    background-color: white;
    width: 96%;
    margin-bottom: 10px;
}

.content-5 {
    background-color: white;
    width: 96%;
    margin-bottom: 10px;
}

.ij3 {
    background-color: white;
    width: 70%;
    padding-top: 15px;
    padding-left: 15px;
}

.label-5 {
    padding-top: 20px;
    background-color: rgba(8, 3, 3, 0.02);
    color: rgba(0, 0, 0, .87);
    font-size: 20px;
    padding: 0.875rem;
    width: 1070px;
    text-transform: capitalize;
}

.label-5-1 {
    padding-top: 10px;
    display: flex;
    margin-bottom: 1.125rem;
}

.label-5-2 {
    color: rgba(0, 0, 0, .4);
    font-size: 12px;
    box-sizing: border-box;
    width: 8.75rem;
    padding-right: 0.75rem;
}

label {
    cursor: default;
}

.hello-1 {
    text-decoration: none;
    font-size: 12px;
}

.label-5-4 {
    padding: 15px;
    color: rgba(0, 0, 0, .8);
    font-size: 13px;
    line-height: 1.7;
}

.product-ratings {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 0.125rem;
    background: rgb(255, 255, 255);
    margin-top: 0.9375rem;
    padding: 1.5625rem;
    overflow: visible;
}

.product-ratings__header_score {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 0.2em;
    text-transform: capitalize;
}

.product-rating-overview {
    background-color: rgb(255, 251, 248);
    min-height: 5rem;
    border: 1px solid rgb(249, 237, 229);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 1.875rem;
}

.product-rating-overview__briefing {
    text-align: center;
    margin-right: 1.875rem;
}

.product-rating-overview__score-wrapper {
    color: rgb(238, 77, 45);
    font-size: 20px;
}

.product-rating-overview__rating-score {
    font-size: 1.875rem;
}

.product-rating-overview__stars {
    font-size: 1.25rem;
    margin-top: 0.625rem;
}

.shopee-rating-stars {
    position: relative;
    display: inline-block;
}

.shopee-rating-stars__stars {
    display: flex;
}

.product-rating-overview__filters {
    flex: 1 1 0%;
    margin-left: 0.9375rem;
}

.product-rating-overview__filter {
    cursor: pointer;
    user-select: none;
    width: 100px;
    height: 30px;
    font-size: 13px;
    min-width: 6.25rem;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    text-transform: capitalize;
    border-radius: 2px;
    margin-bottom: 0.3125rem;
    margin-top: 0.3125rem;
}

.product-ratings-comments-view__no-data {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-ratings-comments-view__no-data__icon {
    width: 6.25rem;
    height: 5.625rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-ratings-comments-view__no-data__text {
    margin-top: 1.25rem;
    padding-top: 20px;
    font-size: 14px;
    padding-left: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.recommendation-by-carousel {
    margin-top: 20px;
}

.VIClMt {
    line-height: 1;
}

.shopee-header-section--simple {
    padding-top: 1.25rem;
}

.shopee-header-section__header {
    display: flex;
    align-items: center;
    padding-bottom: 0.625rem;
}

.shopee-header-section--simple .shopee-header-section__header__title {
    font-size: 20px;
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
}

._8yrNJy {
    padding-top: 0.3125rem;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}

.image-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-carousel__item-list-wrapper {
    height: 100%;
    overflow: hidden;
    touch-action: pan-y;
}

.image-carousel__item-list {
    display: flex;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.recommendation-by-carousel .image-carousel__item {
    padding: 5px 5px 0px !important;
}

.image-carousel__item>div {
    height: 100%;
}

.product-recommend-items__item-wrapper>a {
    position: relative;
    overflow: visible;
    outline: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.image-carousel__item a {
    -webkit-user-drag: none;
}

.AIUSlb,
.AIUSlb .p-8nQs {
    height: 100%;
    box-sizing: border-box;
}

.p-8nQs {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
    border-radius: 0.125rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    overflow: visible;
    cursor: pointer;
    user-select: none;
    padding: 0;
}

.HAbom- {
    position: relative;
}

/* .image-carousel__item a, .image-carousel__item img {
-webkit-user-drag: none;
} */
.HAbom- img {
    vertical-align: bottom;
}

/* .Ilr1jy {
right: 0;
bottom: 0;
z-index: 1;
position: absolute;
} */
/* svg:not(:root) {
overflow: hidden;
} */

.VeWoOt {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    stroke: none;
    fill: rgba(0, 0, 0, .5);
}

.ow-oD7,
.P0I9Ly {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.P0I9Ly {
    padding: 0.5rem;
    overflow: hidden;
}

.hWiAdd {
    align-items: baseline;
}

.GadAoj,
.siSmzM {
    overflow: hidden;
}

.GadAoj {
    padding: 0.5rem 0 0;
    display: flex;
    height: 1.25rem;
}

.ObNcPU {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ObNcPU {
    flex: 1 0 auto;
    max-width: 75%;
    color: #ee4d2d;
}

.AXI1jq {
    font-size: .75rem;
    color: #ee4d2d;
}

._5D5Lc- {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    color: #ee4d2d;
}

._8VOHhl {
    display: inline;
    line-height: 14px;
}

._6uBkUy {
    max-width: none;
    width: 24.375rem;
    margin: 0.625rem auto 0px;
}

.btn-light--link {
    color: rgb(85, 85, 85);
}

.btn-light {
    outline: 0px;
    background: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px;
    position: relative;
    overflow: visible;
}

.btn--m {
    height: 40px;
    padding: 0px 20px;
    min-width: 70px;
    max-width: 520px;
}

.btn--inline {
    display: inline-flex;
}

.danh_gia {
    padding-top: 10px;
}

.product-variation {
    padding: 7px 10px 7px 10px;
    margin-bottom: 10px;
}

.MTpc1O {
    margin: 5px -5px;
    position: relative;
}

.MZ9yDd {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    width: 20%;
}

.y4F\+fJ {
    position: relative;
}

._7eojrG {
    position: relative;
}

.A4dsoy {
    width: 100%;
    padding-top: 100%;
    background-position: 50%;
}

._0dg1Q\+ {
    opacity: 1;
    transition: opacity .2s ease;
}